/* Paleta de cores:
Cor 1: #000308
Cor 2: #5AABD6
Cor 3: #8AE2E6

/*mobile first*/

* {
    margin: 0px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body, html {
    background-color: #1e6180;
}

main {
    position: relative;
    width: 100vw;
    height: 100vh; 
}

section#login {
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.521);
    width: 250px;
    height: 515px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-color: white;
    
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

section#login > div#image {
    background-image: url(../imagens/fundo-login.jpg);
    background-repeat: no-repeat;
    height: 200px;
    background-size: cover;
    background-position: center center;
    display: block;
}

section#login > div#form {
    display: block;
}

div#form > h1 {
    text-align: center;
    padding: 5px;
    margin: 3px 0px;
}

div#form > p#um {
    text-align: center;
    display: block;
}

div#form > p#dois {
    text-align: center;
    padding: 0px 10px;
    font-size: 0.9em;
    display: block;
    margin-bottom: 7px;
}

div#email {
    background-color: #030d1f;
    padding: 5px;
    margin: 5px 10px;
    height: 40px;
    border-radius: 8px;
    position: relative;
}

div#senha {
    background-color: #030d1f;
    padding: 5px;
    margin: 5px 10px;
    height: 40px;
    border-radius: 8px;
    position: relative;   
}

div > input.campo {
    display: block;
    height: 98%;
    width: 81%;
    position: absolute;
    top: 50%;
    left: 59%;
    transform: translate(-50%, -50%);
    text-indent: 5px;
    border-radius: 10px;
    font-size: 1em;
    background-color: #96d1ec;
    /*transform: translateY(-10px);*/
}

div > input.campo:focus-within {
    background-color: rgb(255, 255, 255);
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 230px; /*sugestão de width: calc(100% - 50px)*/ 
    height: 40px;
    margin: auto;
    border-radius: 5px;
    border: none;
    background-color: #1e6180;
    margin-top: 8px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #2565837c;
}

form > a {
    display: block;
    font-size: 1em;
    text-align: center;
    width: 230px;
    height: 40px;
    margin: auto;
    margin-top: 6px;
    border: 1px solid #1e6180;
    color: #030d1fd8;
    border-radius: 5px;
    text-decoration: none;
    padding-top: 5px;
}

form > a > span#mail {
    font-size: 0.8em;
}

form > a:hover {
    background-color: #2565837c;
    border-color: #1e6180;
}

div > span#person, span#key {
    color: white;
    text-indent: 3px;
    font-size: 1.7em;
}